# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Env files
.env

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Test / cache
.pytest_cache/

# IDE
.vscode/
.idea/

# Logs
*.log
